.header {
    font-family: var(--fontFamilyCommon);
    font-style: var(--fontStyleCommon);
    font-weight: var(--fontWeightBold);
    font-size: 56px;
    color: var(--colorShark);
    margin: var(--paddingSection);
}
