.whiteSection
    .whiteSection__titleSection.titleSection Модальное окно
    #blockWithPopup.blockWithPopup(data-js-blockwithpopup='')
        button#blockWithPopupBtn.btn.blockWithPopup__btn(data-js-blockwithpopupbtn='')
            span.btn__label Открыть модальное окно
        .modal модальное окно
